.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        display: inline-block;
        transition: all .2s;
        transform: scale(1);
        font-size: $font-size-default;
        animation: moveInBottom 1s ease-out;
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--white {
        color: $color-gray;
        background-color: $color-white;
        
        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        color: $color-white;
        background-color: $color-primary;
        
        &::after {
            background-color: $color-primary;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;

        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;

        z-index: -1;

        transition: all .4s;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $font-size-default;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px 6px;
        transition: all .2s;
    }
    &:hover {
        color: $color-white;
        background-color: $color-primary;
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}