.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }
    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        border: none;
        border-bottom: 3px solid transparent;
        display: block;
        width: 90%;
        transition: all .3s;
        &::placeholder {
            color: $color-gray-2;

        }
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
            &:invalid {
                border-bottom: 3px solid $color-secondary-dark;
            }
        }

    }
    &__label {
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        margin: .7rem 0 0 2rem;
        transition: all .3s;
    }
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
    &__radio-group {
        width: 49%;
        display: inline-block;
    }
    &__radio-input {
        display: none;
    }
    &__radio-label {
        font-size: $font-size-default;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
    }
    &__radio-button { // Esse botão está dentro do label acima
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: -.4rem;
        left: 0;
        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
        }
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}